################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Code Repo/v16/.suo
_site
Gemfile.lock
.DS_Store
/.vs/WAF/v17/.suo
